@mixin flexDisplay($flexDirection) {
	display: flex;
	flex-direction: $flexDirection;
	flex-wrap: nowrap;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin clearFix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin maxWidth($value){
	@media screen and (max-width: $value) {
		@content;
	}
}

@mixin productImage($widthPercent, $boderColor, $mediaValue) {
	.main-sales__product-image {
		flex: $widthPercent;
		max-width: $widthPercent;
		position: relative;
		@include maxWidth($mediaValue) {
			flex: 100%;
			max-width: 100%;
			box-sizing: border-box;
		}

		&--tittle-container-1 {
			height: 0;
			width: 0;
			border-top: 50px solid $boderColor;
			border-right: 50px solid transparent;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
		}
		&--tittle-container-2 {
			height: 0;
			width: 0;
			border-top: 49px solid white;
			border-right: 49px solid transparent;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
		}
		&--tittle-container-3 {
			height: 0;
			width: 0;
			border-top: 47px solid $boderColor;
			border-right: 47px solid transparent;
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
		}
		&--tittle-text {
			position: absolute;
			z-index: 4;
			top: 10px;
			left: 4px;
			color: white;
			font-weight: 400;
			font-size: 10px;
			transform: rotate(-45deg);
		}

		img {
			width: 125px;
			padding: 7px 65px;

		    @include maxWidth($mediaValue) {
				position: static;
				display: block;
				margin-left: 50%;
				padding: 30px;
			}
		}
	}
}

@mixin button {
	color: white;
	border: none;
	background: black;
	padding: 8px 20px;
	margin-bottom: 20px;
	&:hover {
		background: $colorYelow;
	}
}

@mixin tittle {
	.main-intro__tittle {
		@include flexCenter;
		@include flexDisplay(column);
		padding: 25px 0;
	}
}

@mixin productShow {
	padding: 0 10% 90px 10%;
	
	.main-intro__tittle {
		@include flexCenter;
		@include flexDisplay(column);
		padding: 25px 0;
	}
	.product-show {
		@include flexDisplay(row);

		.fa-arrow-left, .fa-arrow-right {
			flex: 2.5%;
			max-width: 2.5%;
			font-size: 17px;
			text-align: center;
			margin: auto 0;

			&:hover {
				color: $colorYelow;
			}	
		}

		.product-category {
			flex: 95%;
			max-width: 95%;
			@include flexDisplay(row);
			@include maxWidth(1000px) {
				@include flexDisplay(column);
			}

			.product-details {
				max-width: 25%;
				flex: 25%;
				@include flexCenter;
				@include flexDisplay(column);
				@include productImage(100%, $colorYelow, 0px);
				@include maxWidth(1000px) {
					max-width: 100%;
					flex: 100%;
					box-sizing: border-box;
					&:nth-child(2), &:nth-child(3), &:nth-child(4) {
						display: none;					
					}
				}

				&:nth-child(2) {
					.main-sales__product-image {
						.main-sales__product-image {
							&--tittle-container-1{
								border-top: 50px solid $colorGreen;
							}
							&--tittle-container-3 {
								border-top: 47px solid $colorGreen;
							}
						}
					}
				}
				&:nth-child(3) {
					.main-sales__product-image {
						.main-sales__product-image {
							.main-sales__product-image--tittle-container-1{
								border-top: 50px solid $colorRed;
							}
							.main-sales__product-image--tittle-container-3 {
								border-top: 47px solid $colorRed;
							}	
						}
					}
				}
				&:nth-child(4) {
					.main-sales__product-image {
						.main-sales__product-image {
							.main-sales__product-image--tittle-container-1, 
							.main-sales__product-image--tittle-container-2, 
							.main-sales__product-image--tittle-container-3 {
								border: none;
							}
						}	
					}
				}

				.main-sales__product-image {
					margin-bottom: 15px;

					.product-hover {
						color: rgba($colorWhite, 0.7);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: black;
						overflow: hidden;
						width: 100%;
						height: 0;
						transition: .5s ease;
						font-size: 13px;
						@include flexDisplay(row);
					}
				}

				&:hover {
					.main-sales__product-image {
						.product-hover {						
							height: auto;
							&__item {
								border-right: 1px solid rgba($colorWhite, 0.4);
								flex: 40%;
								max-width: 40%;
								padding: 3px 8px;
								@include flexCenter;

								i {
									padding-right: 5px;
								}

								&:hover {
									i {
										color: white;
									}
								}
							}

							&__zoom {
								flex: 20%;
								max-width: 20%;
								padding: 1px 8px;
								@include flexCenter;

								span {
									font-weight: 700;
									font-size: 15px;
								}

								&:hover {
									span {
										color: white;
									}
								}
							}
						}
					}

					.product-content {
						h4 {
							color: $colorYelow;
						}

						button {
							background: $colorYelow;
						}
					}
				}

				.product-content {
					@include flexCenter;
					@include flexDisplay(column);

					&__price {
						margin-bottom: 7px;
						&-main {
							color: $colorYelow;
							font-size: 25px;
							padding-right: 5px;
						}
						&-old {
							color: rgba($colorBlack, 0.5);
						}
					}
					button {
						@include button;
					}
					
				}
			}
		}
	}
}

@mixin navBarDropdown($flexDirection, $widthPercent, $top, $left, $width, $leftTriangle) {
	position: relative;

	.nav-bar-small__item-dropdown-content {
		display: none;
	}

	&:hover {
		.nav-bar-small__item-dropdown-content {
			@include flexDisplay($flexDirection);
			position: absolute;
			padding: 30px;
			z-index: 30;
			top: $top;
			left: $left;
			width: $width;
			background: white;
			border: 2px solid $colorYelow;
			text-align: start;

			&:before {
				content: '';
				border-top: 8px solid transparent;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid $colorYelow;
				position: absolute;
			    top: -18px;
			    left: $leftTriangle;
			    transform: translateX(-50%);
				z-index: 10;
			}

		.nav-bar__item-dropdown-content--column {
			flex: $widthPercent;
			max-width: $widthPercent;
			text-align: center;

			&:not(:last-child){
				padding-bottom:10px;
			}

			a {
				color: black;
				font-size: 14px;
				line-height: 1.7;

				&:hover {
					color: $colorYelow;
				}
			}
		}
	}
		
		.nav-bar__item-dropdown-content--column-image {
			flex: 30%;
			max-width: 30%;

			img {
				width: 50%;
			}
		}
	}
}

@mixin productDetail {
	max-width: 25%;
	flex: 25%;
	@include flexCenter;
	@include flexDisplay(column);
	@include productImage(100%, $colorYelow, 0px);
	@include maxWidth(1000px) {
		max-width: 100%;
		flex: 100%;
		box-sizing: border-box;
		&:nth-child(2), &:nth-child(3), &:nth-child(4) {
			display: none;					
		}
	}

	&:nth-child(2) {
		.main-sales__product-image {
			.main-sales__product-image {
				&--tittle-container-1 {
					border-top: 50px solid $colorGreen;
				}
				&--tittle-container-3 {
					border-top: 47px solid $colorGreen;
				}
			}
		}
	}
	&:nth-child(3) {
		.main-sales__product-image {
			.main-sales__product-image {
				&--tittle-container-1{
					border-top: 50px solid $colorRed;
				}
				&--tittle-container-3 {
					border-top: 47px solid $colorRed;
				}
			}
		}
	}
	&:nth-child(4) {
		.main-sales__product-image {
			.main-sales__product-image {
				&--tittle-container-1, 
				&--tittle-container-2, 
				&--tittle-container-3 {
					border: none;
				}
			}
		}
	}

	.main-sales__product-image {
		margin-bottom: 15px;

		.product-hover {
			color: rgba($colorWhite, 0.7);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: black;
			overflow: hidden;
			width: 100%;
			height: 0;
			transition: .5s ease;
			font-size: 13px;
			@include flexDisplay(row);
		}
	}

	&:hover {
		.main-sales__product-image {
			.product-hover {						
				height: auto;
				.product-hover__item {
					border-right: 1px solid rgba($colorWhite, 0.4);
					flex: 40%;
					max-width: 40%;
					padding: 3px 8px;
					@include flexCenter;

					i {
						padding-right: 5px;
					}

					&:hover {
						i {
							color: white;
						}
					}
				}

				.product-hover__zoom {
					flex: 20%;
					max-width: 20%;
					padding: 1px 8px;
					@include flexCenter;

					span {
						font-weight: 700;
						font-size: 15px;
					}

					&:hover {
						span {
							color: white;
						}
					}
				}
			}
		}

		.product-content {
			h4 {
				color: $colorYelow;
			}

			button {
				background: $colorYelow;
			}
		}
	}

	.product-content {
		@include flexCenter;
		@include flexDisplay(column);

		&__price {
			margin-bottom: 7px;

			&-main {
				color: $colorYelow;
				font-size: 25px;
				padding-right: 5px;
			}

			&-old {
				color: rgba($colorBlack, 0.5);
			}
		}
		button {
			@include button;
		}
		
	}
}

@mixin showNav {
	padding: 35px 10%;

	a {
		text-decoration: none;
		color: black;

		&:hover {
			color: $colorYelow;
		}
	}

	.active {
			color: $colorYelow;
	}
}

@mixin columnList {
	.category-grid__column-list {
		flex: 25%;
		max-width: 25%;
		color: rgba($colorBlack, 0.7);
		margin-right: 30px;

		&--product-list {		
			margin-bottom: 20px;

			.main-intro__tittle {
				margin-bottom: 15px;

				h1 {
					font-size: 20px;
				}
			}

			&-import {
				margin-bottom: 15px;

				li {
					a {
						text-decoration: none;
						color: rgba($colorBlack, 0.6);
					}

					&:hover {
						list-style-type: disc;
						transform: translateX(17px);

						a {
							color: $colorYelow;
						}

						&:before {
							content: "\2022";
							color: $colorYelow;
							font-weight: bold;
							display: inline-block; 
							width: 2em;
							margin-left: -1em;
						}
					}

					&:nth-child(5) {
						list-style-type: disc;
						transform: translateX(17px);

						a {
							color: $colorYelow;
						}

						&:before {
							content: "\2022";
							color: $colorYelow;
							font-weight: bold;
							display: inline-block; 
							width: 2em;
							margin-left: -1em;
						}
					}
				}
			}

			&-grape {
				li {
					a {
						text-decoration: none;
						color: rgba($colorBlack, 0.6);
					}

					&:hover {
						list-style-type: disc;
						transform: translateX(17px);

						a {
							color: $colorYelow;
						}

						&:before {
							content: "\2022";
							color: $colorYelow;
							font-weight: bold;
							display: inline-block; 
							width: 2em;
							margin-left: -1em;
						}
					}
				}
			}
		}

		&--compare {
			margin-bottom: 20px;

			.main-intro__tittle {
				margin-bottom: 15px;

				h1 {
					font-size: 20px;
				}
			}
		}

		&--tag {
			margin-bottom: 20px;
			
			.main-intro__tittle {
				margin-bottom: 15px;

				h1 {
					font-size: 20px;
				}
			}

			a {
				display: inline-block;
				text-decoration: none;
				padding: 1px 8px;
				margin: 0 10px 10px 0;
				border: 1px solid rgba($colorBlack, 0.2);
				color: rgba($colorBlack, 0.4);

				&:hover {
					color: white;
					background: $colorYelow;
					border: 1px solid $colorYelow;
				}

				&:nth-child(2) {
					color: white;
					background: $colorYelow;
					border: 1px solid $colorYelow;
				}
			}
		}

		&--image {
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

@mixin productShowNav {
	.category-grid__product-show--nav {
		width: 100%;
		color: rgba($colorBlack, 0.3);
		padding: 3px 10px;
		border: 1px solid rgba($colorBlack, 0.3);
		box-sizing: border-box;
		margin-bottom: 30px;
		@include clearFix;

		&-view {
			display: inline-block;
			margin: 2px 0;

			i {
				margin-right: 10px;
				font-size: 17px;

				&:hover {
					color: $colorYelow;
				}
			}

			.active {
					color: $colorYelow;
			}
		}

		&-pagination {
			display: inline-block;
			float: right;
			position: relative;
			margin-right: 10px;

			span {
				display: inline-block;
				padding: 0 5px;
				font-weight: 600;

				&:hover{
					color: $colorYelow;
				}
			}

			.active {
				color: $colorYelow;
			}

			&:after {
				content: '';
				border: 6px solid;
				border-color: transparent rgba($colorBlack, 0.3) transparent transparent ;
				position: absolute;
				top: 5px;
				left: -17%;
			}

			&:before {
				content: '';
				border: 6px solid;
				border-color: transparent transparent transparent rgba($colorBlack, 0.3);
				position: absolute;
			    top: 5px;
			    left: 105%;
			}
		}
	}
}

@mixin article {
	.main-blogs__article {
		flex: 100%;
		max-width: 100%;

		&-image {
			position: relative;

			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}

			&-overlay {
				height: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				transition: .3s ease;
				overflow: hidden;

				&-triangle {
					border-right: 343px solid rgba($colorWhite, 0.3);
					border-top: 200px solid transparent;
					position: absolute;
					top: 0;
					left: 0;
				}

				&-round {
					text-align: center;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: rgba($colorWhite, 0.8);
					padding: 15px;
				}
			}

		}

		&-content {
			padding-top: 20px;

			 h3 {
			 	padding-bottom: 10px;
			 }

			&--text-1 {
			 	padding-bottom: 10px;

			 	span {
			 		color: rgba($colorBlack, 0.5);
			 		font-size: 13px;
			 		padding-right: 5px;
			 		display: inline-block;

			 		&:first-child, &:nth-child(2) {
			 			border-right: 1px solid rgba($colorBlack, 0.3);
			 		}
			 		&:nth-child(2), &:nth-child(3) {
			 			padding-left: 5px;
			 		}
			 	}
			}

			&--text-2 {
				color: rgba($colorBlack, 0.7);

		 		a {
		 			display: block;
		 			text-decoration: none;
		 			color: $colorYelow;
		 			font-size: 13px;
		 		}
			}
		}

		&:hover {
			.main-blogs__article-image {
				.main-blogs__article-image {
					&-overlay {
						height: 100%;
					}
				}
			}

			.main-blogs__article-content {
				h3 {
				 	color: $colorYelow;
				}
			}		
		}
	}
}

@mixin form {
	color: rgba($colorBlack, 0.7);
	border: 1px solid rgba($colorBlack, 0.2);
	padding: 35px;
	@include clearFix;

	h3 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 25px;
	}

	.form {
		@include flexDisplay(row);

		&-label {
			flex: 10%;
			max-width: 10%;

			label {
				display: block;
				margin-bottom: 24px;
			}
		}

		&-input {
			flex: 90%;
			max-width: 90%;

			input {
				display: block;
				border: 1px solid rgba($colorBlack, 0.2);
				width: 100%;
				padding: 7px;
				margin-bottom: 15px;
			}

			a {
				display: block;
				text-decoration: none;
				margin-bottom: 15px;
				color: rgba($colorBlack, 0.7);
			}
		}
	}

	.button {
		button {
			@include button;
			position: static;
			padding: 6px 15px;
			display: inline-block;
			font-size: 12px;					
		}
	}
}
