.detail-show__nav {
	@include showNav;
}
.cart {
	padding: 0 10%;

	.main-intro__tittle {
		margin-bottom: 30px;

		h1 {
			font-size: 23px;
			padding-bottom: 2px;
		}
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 30px;

		tr {
			text-align: center;

			th, td {
				padding: 10px 0;
				background: rgba($colorBlack, 0.05);
				border: 1px solid rgba($colorBlack, 0.2);
			}

			td {
				&:nth-child(3), &:nth-child(5) {
				color: $colorYelow;
				}

				img {
					object-fit: cover;
					height: 100px;
				}
			}
		}

	}

	.cart__button {
		@include flexDisplay(row);
		justify-content: flex-end;

		button {
			@include button;
			margin-right: 5px;
		}
	}
}