include ../pages/mixin/mixin

html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Home
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="js/all.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7-ht9HI1-6uL2zI8D6GZYc98lZ2MVbeQ&callback=initMap&libraries=&v=weekly" async)
	body
		block page
		include ../pages/partials/nav
		block unique content
		include ../pages/partials/footer